condicional_switch.json
[
    {
        "id": "abab767e077078c2",
        "type": "inject",
        "z": "3769755d9f4f3ed2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "90094003ae9b72c0"
            ]
        ]
    },
    {
        "id": "33532a4d4d7c0146",
        "type": "inject",
        "z": "3769755d9f4f3ed2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "90094003ae9b72c0"
            ]
        ]
    },
    {
        "id": "4e6c167a6db3f8ea",
        "type": "inject",
        "z": "3769755d9f4f3ed2",
        "name": "9",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "90094003ae9b72c0"
            ]
        ]
    },
    {
        "id": "90094003ae9b72c0",
        "type": "switch",
        "z": "3769755d9f4f3ed2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "f8676e7957694320"
            ],
            [
                "5e31f3233dde9f1d"
            ],
            [
                "e99efeeb346f8a34"
            ]
        ]
    },
    {
        "id": "f8676e7957694320",
        "type": "function",
        "z": "3769755d9f4f3ed2",
        "name": "<5",
        "func": "msg.payload = \"El numero esta por debajo del 5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "782d8fb02d039171"
            ]
        ]
    },
    {
        "id": "782d8fb02d039171",
        "type": "debug",
        "z": "3769755d9f4f3ed2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "5e31f3233dde9f1d",
        "type": "function",
        "z": "3769755d9f4f3ed2",
        "name": ">5",
        "func": "msg.payload = \"El numero esta por encima del 5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "782d8fb02d039171"
            ]
        ]
    },
    {
        "id": "e99efeeb346f8a34",
        "type": "function",
        "z": "3769755d9f4f3ed2",
        "name": "==5",
        "func": "msg.payload = \"El numero es igual a 5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "782d8fb02d039171"
            ]
        ]
    }
]